@import "../../assets/styles/partials/themeController"

#contact
  margin-top: $spacer
  margin-bottom: 150px
  display: flex
  flex-direction: column
  align-items: center

.contact-icons
  margin: $spacer
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: $spacer
  justify-content: center

.contact-icon-size
  font-size: 15em

.signature
  align-self: flex-end
  margin: $spacer
