@import url("https://fonts.googleapis.com/css?family=Arimo|Roboto+Slab");
.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #606d82;
  font-size: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 150px;
  z-index: 500; }

.nav-item {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: auto;
  padding-left: auto; }

.logo-size-menu h1 {
  font-size: 60px; }

.logo-size-menu h2 {
  font-size: 50px; }
