@import "../../assets/styles/partials/themeController"

/* Default view iPhone 5*/

.menu
  position: fixed
  bottom: 0
  width: 100%
  color: white
  background: $mediumColor
  background: linear-gradient($mediumColor, $darkColor)
  font-size: 1em
  font-weight: bold
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  justify-items: center
  align-items: center
  height: 50px
  z-index: 500
  padding: 0

// .nav-item
//   padding-top: 50px
//   padding-bottom: 50px
//   padding-right: auto
//   padding-left: auto

.logo-size-menu
  h1
    font-size: 60px
  h2
    font-size: 50px

@media (min-width: 820px)
  .menu
    top: 0
    bottom: inherit
    font-size: 2em
    padding: 5px 0 5px 0
    background: $mediumColor
    background: linear-gradient($darkColor, $mediumColor)
    font-weight: normal

  .nav-item
    padding-top: 0
    padding-bottom: 0
