@import "../../assets/styles/partials/themeController"

#about
  background: black
  color: white
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding: $spacer
  h1
    margin-bottom: $spacer
    align-self: center
  p
    margin-bottom: $spacer
