@import url("https://fonts.googleapis.com/css?family=Arimo|Roboto+Slab");
#about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white; }
  #about p {
    margin-bottom: 30px;
    align-self: flex-start; }

#about::before {
  content: '';
  background-image: url("../../assets/pictures/texturedWood.jpeg");
  background-repeat: no-repeat;
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }

#about::after {
  content: '';
  background-color: #606d82;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2; }

.sds-primary-photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-style: solid;
  border-color: #606d82;
  border-width: 10px;
  margin-bottom: 30px; }

.sds-primary-title {
  font-family: "Roboto Slab", serif;
  margin-bottom: 30px; }

.sds-primary-subtitle {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 30px;
  border-bottom: solid 15px;
  margin-bottom: 30px; }

.about-content {
  margin-top: 30px; }

@media screen and (min-width: 820px) {
  #about {
    padding-top: 80px; }
    #about h1 {
      font-size: 4em; }
    #about h3 {
      font-size: 2em; }
  .sds-primary-photo {
    height: 300px;
    width: 300px; }
  .about-content {
    font-size: 1.5em; } }
