@import url("https://fonts.googleapis.com/css?family=Arimo|Roboto+Slab");
#projects {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #aec4e8; }
  #projects h1 {
    margin-bottom: 30px; }
  #projects button {
    border-style: none;
    color: white; }

.image-manager {
  display: flex;
  flex-direction: column; }
  .image-manager button {
    font-size: 4em;
    margin-bottom: 30px;
    font-family: "Arimo", sans-serif;
    border-radius: 100px;
    padding: 30px;
    background: #2a3342; }
  .image-manager button:focus {
    outline: none !important;
    background: #606d82; }
  .image-manager button:hover {
    background: #606d82; }

.image-slider {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr; }

.project-image {
  width: 80vw;
  height: 80vw; }

.slider-arrows {
  font-size: 5em; }

#left-arrow-button {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background: #2a3342; }

#left-arrow-button:focus {
  outline: none !important;
  background: #606d82; }

#left-arrow-button:hover {
  background: #606d82; }

#right-arrow-button {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background: #2a3342; }

#right-arrow-button:focus {
  outline: none !important;
  background: #606d82; }

#right-arrow-button:hover {
  background: #606d82; }
