<section id="projects">
  <h1 class="projects-header"> My Projects </h1>
  <div class="image-manager">
    <button ng-click="swapPaths('ams')">Air Management Specialists</button>
    <button ng-click="swapPaths('trippin')">Trippin'</button>
    <div class="project-links-pc">
      <a target="_blank" href="{{website}}" ng-click="linkOutside(website)">
        <button>Website</button>
      </a>
      <a  target="_blank" href="{{gitHub}}" ng-click="linkOutside(gitHub)">
        <button>GitHub</button>
      </a>
    </div>
  </div>
  <div class="image-slider">
    <button id="left-arrow-button" ng-click="decrementIndex()">
      <i class="slider-arrows material-icons">
        keyboard_arrow_left
      </i>
    </button>
    <img src="{{project[pathIndex]}}" alt="project image" class="project-image"/>
    <button id="right-arrow-button" ng-click="incrementIndex()">
      <i class="slider-arrows material-icons">
        keyboard_arrow_right
      </i>
    </button>
  </div>
  <div class="project-content">
    {{projectContent}}
    <div class="project-links">
      <a target="_blank" href="{{website}}" ng-click="linkOutside(website)">
        <button>Website</button>
      </a>
      <a  target="_blank" href="{{gitHub}}" ng-click="linkOutside(gitHub)">
        <button>GitHub</button>
      </a>
    </div>
  </div>
</section>
