@import "../../assets/styles/partials/themeController"

#projects
  position: relative
  padding: $spacer
  display: flex
  flex-direction: column
  align-items: center
  h1
    margin-bottom: $spacer
  button
    border-style: none
    color: white

#projects::before
  content: ''
  background-image: url('../../assets/pictures/keyboard.jpeg')
  background-repeat: no-repeat
  opacity: .3
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: -1

#projects::after
  content: ''
  background-color: $lightColor
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: -2

.image-manager
  display: flex
  flex-direction: column
  button
    font-size: 1em
    margin-bottom: $spacer
    font-family: $primaryFont
    padding: 10px
    border-radius: 100px
    background: $darkColor
  button:focus
    outline: none !important
    background: $mediumColor
  button:hover
    background: $mediumColor

.image-slider
  display: grid
  grid-template-columns: 1fr 8fr 1fr

.project-image
  width: 70vw
  height: 70vw

.slider-arrows
  font-size: 2em

.project-links-pc
  display: none

#left-arrow-button
  border-top-left-radius: 200px
  border-bottom-left-radius: 200px
  background: $darkColor

#left-arrow-button:focus
  outline: none !important
  background: $mediumColor

#left-arrow-button:hover
  background: $mediumColor

#right-arrow-button
  border-top-right-radius: 200px
  border-bottom-right-radius: 200px
  background: $darkColor

#right-arrow-button:focus
  outline: none !important
  background: $mediumColor

#right-arrow-button:hover
  background: $mediumColor

.project-content
  border-radius: 20px
  background-color: white
  margin-top: $spacer
  font-size: 1.2em
  padding: $spacer
  button
    font-size: 1em
    margin: $spacer 5px 0 5px
    font-family: $primaryFont
    padding: 10px
    border-radius: 100px
    background: $mediumColor
    color: $darkColor
  button:focus
    outline: none !important
    background: black
    color: $mediumColor
  button:hover
    background: black
    color: $mediumColor

@media (min-width: 820px)

  #projects
    display: grid
    grid-template-areas: "header header" "image-manager image-slider" "project-content project-content"
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    align-items: center
    justify-content: center
    h1
      color: white
      padding: $spacer
      font-size: 4em

  #projects::before
    background: linear-gradient(to right, $lightColor , $mediumColor, $lightColor)
    opacity: .7

  #projects::after
    background-image: url('../../assets/pictures/sandHR.jpg')

  .projects-header
    grid-area: header
    text-align: center

  .project-image
    width: 40vw
    height: 40vw

  .image-manager
    grid-area: image-manager
    align-self: start
    button
      font-size: 2em
      margin: $spacer

  .image-slider
    grid-area: image-slider

  .project-content
    width: 50vw
    grid-area: project-content
    justify-self: center

  .project-links
    display: none

  .project-links-pc
    display: flex
    justify-content: center
    button
      font-size: 2em
      margin: $spacer
      font-family: $primaryFont
      padding: 10px
      border-radius: 100px
      background: $mediumColor
      color: $darkColor
    button:focus
      outline: none !important
      background: black
      color: $mediumColor
    button:hover
      background: black
      color: $mediumColor
