@import "../../assets/styles/partials/themeController"

#skills
  display: flex
  flex-direction: column
  align-items: center
  h1
    margin-top: $spacer
    margin-bottom: $spacer

.skills-icons
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  justify-content: center
  grid-column-gap: 10vw
  grid-row-gap: 5vw
  padding: $spacer
  margin-bottom: $spacer
  border-top: solid $mediumColor 15px
  border-bottom: solid $mediumColor 15px

.skills-icons-size
  font-size: 3.5em

.skills-auth0
  height: 3.5em

.skills-postman
  height: 3.5em

@media screen and (min-width: 820px)

  #skills
    h1
      font-size: 4em
      padding: $spacer

  .skills-icons
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr

  .skills-icons-size
    font-size: 5em

  .skills-auth0
    height: 5em

  .skills-postman
    height: 5em
